.container-div {
  height: 100vh;
  position: relative;
}

.vertical-align {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
  .logo {
    max-width: 180px;
  }
}

body {
  background-color: black !important;
}
